{% if field.field %}
    {{ field.field }}
{% else %}
    <input type="{{ input.type }}" 
           name="{% if input.name %}{{ input.name }}{% endif %}"
           value="{% if input.value %}{{ input.value }}{% endif %}"
           {% if input.id %}id="{{ input.id }}"{% endif %}
           class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" />
{% endif %}
